---
import logo from "../assets/LA.svg";
---
<footer class="w-[90%] md:w-[60%] mx-auto border border-white/10 rounded-xl bg-white/5 ">
    <div class="w-[90%] mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <div class="flex gap-2">
            <a href="#home" class="flex items-center gap-2">
              <img src={logo.src} alt="logo de Luis Alvarez" width="25" />
              <span class="text-xl font-semibold"><strong class="text-[#07f9a2]">.</strong>dev</span>
            </a>
        </div>
        <span class="text-sm text-[#07f9a2]">Gracias por visitar mi portafolio</span>
        <!-- <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#home" data-section="home" class="hover:underline me-4 md:me-6">Inicio</a>
            </li>
            <li>
                <a href="#contact" data-section="contact" class="hover:underline">Contacto</a>
            </li>
        </ul> -->
    </div>
</footer>
