---
import BentoInformation from '../components/bentos/bentoInformation.astro'
import Technologies from '../components/Technologies.astro'
import Skills from '../components/Skills.astro'
import WorkExperience from '../components/WorkExperience.astro'
---

<BentoInformation />
<section id="experience" class="min-h-screen flex flex-col justify-center py-12 px-4 w-full">
  <WorkExperience />
</section>
<!-- Sección centrada verticalmente -->
<section id="technologies" class="min-h-screen flex flex-col justify-center py-12 px-4 w-full">
  <div class="mx-auto w-full">
    <Technologies />
    <div class="mt-12">
    <Skills />
    </div>
  </div>
</section>