---
import BentoInformation from '../components/bentos/bentoInformation.astro';
import WorkExperience from '../sections/ExperienceSection.astro';
import Technologies from '../components/Technologies.astro';
import Skills from '../components/Skills.astro';
---

<BentoInformation />

<section id="experience" class="py-20 md:py-28">
  <WorkExperience />
</section>

<section id="technologies" class="py-20 md:py-28">
  <Technologies />
  <div class="mt-20">
    <Skills />
  </div>
</section>
