---
import Footer from "../components/footer.astro"
import Header from "../components/header.astro"
interface Props {
	title: string
	description: string
}

import "../styles/global.css"
const { description, title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/LA.svg" />
		<link rel="stylesheet" href="https://hackernoon.com/hn-icon.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<title>LA dev</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>
